{#
/**
 * @file
 * Default theme implementation for a summary of a webform smsapi handler.
 *
 * Available variables:
 * - settings: The current configuration for this smsapi handler.
 * - handler: The email handler.
 *
 * @ingroup themeable
 */
#}

<b>{{ 'To:'|t }}</b>
{% if settings.to.to_number == 'custom' %}
  {{ settings.to.custom_number }} <br />
{% else %}
  {{ settings.to.to_number }} <br />
{% endif %}
<b>{{ 'From:'|t }}</b> {{ settings.from.from_sender }} <br />
<b>{{ 'Subject:'|t }}</b>
{% if settings.message.message_type == '_custom' %}
  {{ settings.message.custom_message }}
{% else %}
  {{ settings.message.sms_template.sms_message }}
{% endif %}
